---
import { render } from 'astro:content';
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const recipes = await getCollection('recipes');
    return recipes.map((recipe) => ({
        params: { slug: recipe.data.slug },
        props: { recipe },
    }));
}

const { slug } = Astro.params;
const { recipe } = Astro.props;

const { Content } = await render(recipe);
---

<Layout>
    <div class="p-2 mt-4 marker:text-black prose max-w-none bg-champagne rounded w-full">
        <Content />
    </div>
    </div>
</Layout>
