---
import '../styles/global.css';

import logo from '../assets/todds-bistro-small-logo.png';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="A recipe site for the curious and advertisement averse">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Todd's Bistro</title>
    </head>
    <body>
        <div class="mx-auto px-2">
            <div class="mx-auto mt-2 border-1 border-black rounded-md p-2 md:w-1/2 w-full">
                <div class="flex flex-col items-center w-full mx-auto border-4 border-black rounded-md p-2">
                    <img src={logo.src} alt="Todd's Bistro Logo" class="w-full rounded-md" />
                    <slot />
                </div>
            </div>
        </div>
    </body>
</html>